/* root */

:root {
    --conteiner-1: #011C44;
    --conteiner-2: #2B7FFF;
    --conteiner-3: #FFFFFF;
    --conteiner-4: #4A4A4A;
    --conteiner-5: #747272;
}

ul {
    list-style-type: none;
}


/* header */

.link1 {
    color: var(--conteiner-1);
}

.link1:hover {
    color: var(--conteiner-2);
}


/* main */


/*section 1 */

.main-section-p1 {
    color: var(--conteiner-1);
}

.main-section1>h1 {
    color: var(--conteiner-2);
}

.button {
    color: var(--conteiner-3);
    background-color: var(--conteiner-2);
    border-radius: 32px;
    border-color: var(--conteiner-2);
}

.button:hover {
    border: 2px solid var(--conteiner-2);
    background-color: transparent;
    color: var(--conteiner-1);
}

.main-section-p2 {
    color: var(--conteiner-4);
}


/* section2 */

.main-section2-a>h2 {
    color: var(--conteiner-1);
}

.main-section2-a>h2>span {
    color: var(--conteiner-2);
}

.main-section2-a>p {
    color: var(--conteiner-1);
}


/* section3 */

.main-section-p3 {
    color: var(--conteiner-1);
}

.section3-h2 {
    color: var(--conteiner-2);
}


/* section4 */

.main-section4 {
    color: var(--conteiner-1);
}

.section4-h2 {
    color: var(--conteiner-2);
}


/* section5 */

.main-section5 {
    color: var(--conteiner-1);
}

.section5-h2 {
    color: var(--conteiner-2);
}


/* footer */

.footer {
    border: 2px solid var(--conteiner-1);
    background-color: var(--conteiner-1);
}

.link2 {
    color: var(--conteiner-3);
}

.link2:hover {
    color: var(--conteiner-2);
}

.politic {
    color: var(--conteiner-3);
}

.footer>p {
    color: var(--conteiner-5);
}